@import "tailwindcss";

@theme {
  /* Fonts Families */
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-federant: "Federant", serif;
  --font-outfit: "Outfit", sans-serif;

  /* Colors */
  --color-primary-01: #ff6a38;
  --color-primary-02: #ff9028;
  --color-secondary-01: #787878;
  --color-secondary-02: #b8b8b8;
  --color-secondary-03: #f0f0f0;
  --color-dark: #585858;
  --color-darker: #333333;
  --color-light: #ffffff;
}

html {
  font-size: 10px;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}
